# Test Page

In [1]:
import logging
import copy
import datetime
from fractions import Fraction
from decimal import Decimal
logging.basicConfig(level=logging.INFO)

import numpy as np
import pandas as pd
#import matplotlib
import matplotlib.pyplot as plt
import yfinance as yf
%matplotlib widget

import omnifolio_core as om
market = om.MarketDataAggregator()
portfoliotr = om.PortfolioTracker()

In [2]:
dfs = market.stock_timeseries_daily(["ESPO.AX", "IVV.AX", "IOZ.AX", "TSLA", "GEAR.AX"], update_store=False)
dfs_sa = market.stock_timeseries_daily__to_splitadjusted(dfs)
df_db = market.stock_timeseries_daily__to_debugging_adjclose(dfs)
summary = market.stock_timeseries_daily__to_adjclose_summary(dfs)

import omnifolio_core.market_data_providers.yahoo_finance_lib as omyf
#df = omyf.YahooFinanceLib().stock_timeseries_daily(["ESPO.AX", "TSLA", "IOZ.AX"])

#dfs_sa["IVV.AX"]
df_db

           ESPO.AX  IVV.AX IOZ.AX    TSLA GEAR.AX
date
2008-01-02       -  164.49      -       -       -
2008-01-03       -  164.13      -       -       -
2008-01-04       -  161.61      -       -       -
2008-01-07       -  162.95      -       -       -
2008-01-08       -   157.8      -       -       -
...            ...     ...    ...     ...     ...
2021-02-24   11.43  490.21  27.87  742.02   23.28
2021-02-25   11.42  494.53  28.14  682.22   23.74
2021-02-26    11.1  488.63  27.45   675.5   22.52
2021-03-01   11.41  496.75  27.97  711.21   23.33
2021-03-02   11.63   503.2  27.98       -   23.26

[3385 rows x 5 columns]

In [3]:
#dfs_sa["IVV.AX"].plot(y="close")
summary["TSLA"]["adjusted_close"].astype("double").plot()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [4]:
summary

           ESPO.AX                                 IVV.AX                 \
              unit adjusted_close exdividend split   unit adjusted_close
date
2008-01-02     NaN            NaN        NaN   NaN    AUD      16449/100
2008-01-03     NaN            NaN        NaN   NaN    AUD      16413/100
2008-01-04     NaN            NaN        NaN   NaN    AUD      16161/100
2008-01-07     NaN            NaN        NaN   NaN    AUD        3259/20
2008-01-08     NaN            NaN        NaN   NaN    AUD          789/5
...            ...            ...        ...   ...    ...            ...
2021-02-24     AUD       1143/100          0   1.0    AUD      49021/100
2021-02-25     AUD         571/50          0   1.0    AUD      49453/100
2021-02-26     AUD         111/10          0   1.0    AUD      48863/100
2021-03-01     AUD       1141/100          0   1.0    AUD         1987/4
2021-03-02     AUD       1163/100          0   1.0    AUD         2516/5

                            IOZ.AX                                 TSLA  \
           exdividend split   unit adjusted_close exdividend split unit
date
2008-01-02          0   1.0    NaN            NaN        NaN   NaN  NaN
2008-01-03          0   1.0    NaN            NaN        NaN   NaN  NaN
2008-01-04          0   1.0    NaN            NaN        NaN   NaN  NaN
2008-01-07          0   1.0    NaN            NaN        NaN   NaN  NaN
2008-01-08          0   1.0    NaN            NaN        NaN   NaN  NaN
...               ...   ...    ...            ...        ...   ...  ...
2021-02-24          0   1.0    AUD       2787/100          0   1.0  USD
2021-02-25          0   1.0    AUD        1407/50          0   1.0  USD
2021-02-26          0   1.0    AUD         549/20          0   1.0  USD
2021-03-01          0   1.0    AUD       2797/100          0   1.0  USD
2021-03-02          0   1.0    AUD        1399/50          0   1.0  NaN

                                           GEAR.AX                            \
           adjusted_close exdividend split    unit adjusted_close exdividend
date
2008-01-02            NaN        NaN   NaN     NaN            NaN        NaN
2008-01-03            NaN        NaN   NaN     NaN            NaN        NaN
2008-01-04            NaN        NaN   NaN     NaN            NaN        NaN
2008-01-07            NaN        NaN   NaN     NaN            NaN        NaN
2008-01-08            NaN        NaN   NaN     NaN            NaN        NaN
...                   ...        ...   ...     ...            ...        ...
2021-02-24       37101/50          0   1.0     AUD         582/25          0
2021-02-25       34111/50          0   1.0     AUD        1187/50          0
2021-02-26         1351/2          0   1.0     AUD         563/25          0
2021-03-01      71121/100          0   1.0     AUD       2333/100          0
2021-03-02            NaN        NaN   NaN     AUD        1163/50          0


           split
date
2008-01-02   NaN
2008-01-03   NaN
2008-01-04   NaN
2008-01-07   NaN
2008-01-08   NaN
...          ...
2021-02-24   1.0
2021-02-25   1.0
2021-02-26   1.0
2021-03-01   1.0
2021-03-02   1.0

[3385 rows x 20 columns]

In [5]:
#dat = yf.download(tickers=["TSLA", "ESPO.AX"], period="max", interval="1d", group_by="ticker", rounding=True, actions=True)
#tmp = dat["TSLA"].dropna(axis="index", how="all")
#tmp

In [6]:
#sym = yf.Ticker("AUDUSD=X")
#sym = yf.Ticker("GEAR.AX")
#sym.info

In [7]:
dfs_sa["TSLA"][dfs_sa["TSLA"]["split"] != 1]

,data_source,data_trust_value,data_collection_time,unit,open,high,low,close,adjusted_close,price_denominator,volume,exdividend,dividend_denominator,split
date,,,,,,,,,,,,,,
2020-08-31,YahooFinanceLib,-159,2021-02-27 09:02:17.242522,USD,44461.0,50014.0,44011.0,49832.0,49832.0,100,118374400.0,0.0,1000000000,5.0

In [8]:
history = portfoliotr.get_portfolio_history()